<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails
      Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg
btn-primary" %>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-
primary" %>

</div>
<%= link_to image_tag("https://scontent.fhan2-1.fna.fbcdn.net/v/t39.30808-6/p600x600/271602579_2118279481670656_8811422572366557017_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=b9115d&_nc_ohc=I_gbd-SzF20AX-Dzjam&_nc_oc=AQkLzWWB_CvRPumfLQj-ZYCulMOui1d_LUVJUqvisJpw31x9fbgCXYobwxa1Rvw7S_s&_nc_ht=scontent.fhan2-1.fna&oh=00_AT83WZ5QaZ_lz3YjTTQO5BrBBQSQ5P4wogI4pfUXA1aFcg&oe=61F38A68", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
<%= image_tag("kitten.jpg", alt: "Kitten") %>